body {
    font-family: 'Montserrat', sans-serif, Arial;
}

/* Mobile layout */
.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px auto);
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}

.box {
    background: #ffa500;
}

.header {
    display: flex;
    grid-area: hd;
    background: #2c3150;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    grid-area: logo;
    display: flex;
}

#navbar {
    display: flex;
    grid-area: nb;
}

#navbar ul {
    display: flex;
    padding: 1px;
}

/* Horizontal Navbar */
#navbar li {
    display: inline;
    padding: 0 20px;
}

#navbar a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700; 
    letter-spacing: 1px;
}

#navbar a:hover {
    background-color: #ffa500;
    color: #2c3150;
  }

#current_page {
    background-color: #ffa500;
}

.content {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-template-areas: 
    "blog1"
    "blog2" 
    "blog3";
    grid-gap: 15px;
    padding: 30px;
}


.linux {
    color: green;
    font-size: 20px;
}

.python {
    color: blue;
    font-size: 20px;
}

.golang {
    color: #00D5FF;
    font-size: 20px;
}

.blog {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.blog a {
    display: block;
    margin-top: 50%;
}

#one {
    grid-area: blog1;
}

#two {
    grid-area: blog2;
}

#three {
    grid-area: blog3;
}

.footer {
    display: flex;
    grid-area: ft;
    color: #ffffff;
    background: #2c3150;
    flex-direction: column;
    align-items: center; /* align horizontally */
    justify-content: center;  /* align vertically */
    font-weight: bolder;
}

/* Tablet layout */
@media(min-width: 600px) and (max-width: 900px)  {
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px auto);
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "main main main main main main"
        "ft ft ft ft ft ft";
    }

    .content {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px auto);
        grid-template-areas: 
        "blog1 blog2"
        "blog3 blog3";
        grid-gap: 15px;
        padding: 30px;
    }
}
 
/* Desktop layout */
@media(min-width: 901px) {
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 500px 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd "
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }

    .content {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "blog1 blog2 blog3";
        grid-gap: 15px;
        padding: 30px;
    }
}
